{% extends 'nurse/base.html' %}
{% block title %} Nurse || index {% endblock %}

{% block page_content %}

{% for sick in sicks %}
<div class="card" style="width: 18rem;">
  <img lass="card-img-top" src="{{sick.noskhe}}" alt="men" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{sick.bimarname}}</h5>
      <p class="card-text">{{sick.datesabt}}</p>
        <ul>
          {%for personnel in sick.personnels%}
            <li>{{personnel.personnelname}}</li>
          {% endfor %}
        </ul>

        

      <a href="{{url_for('nurse.sick',sick_id = sick.bimarid)}}" class="btn btn-primary">All Data</a>
      <a href="{{url_for('nurse.ressick',sick_id = sick.bimarid)}}" class="btn btn-primary">Complete Data</a>
    </div>
  </div>
{% endfor %}
{% endblock %}

